html {
  box-sizing: border-box;
}


.mycolumn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 33.3%;
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .mycolumn {
    width: 100%;
    display: inline-block;
  }
}

.mycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

/*.button {
  border-radius: 15px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}*/

/*.button:hover {
  background-color: #555;
}*/
